body{
    background-color: rgb(85, 142, 143);
    color: white;
    margin: 20px;
    padding: 0px 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.logo{
    font-family: 'Homemade Apple', cursive;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    
}
.contents{
    font-size: larger;
    padding: 50px 50px;
    position: relative;
    box-sizing: border-box;
    padding-right: 20px;   
    display: flex;
    gap: 40px;

}
.content-button{
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color:rgba(245, 245, 245);
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.content-button:hover {
    background-color: rgb(85, 142, 143);
    transition: background-color 0.3s, color 0.3s;
}


.tagline{
    font-size: 30px;
    text-align: center; 
}
.info{
    font-size: large;
    text-align: center;
    padding-bottom: 40px;
}


.img{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.img .caption{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}